body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.Heading {
  text-decoration: wavy 2px pink;
  font-size: 3em;
  margin: 10% 0 0 0;
}

.heading a:-webkit-any-link,
a:any-link {
  text-decoration: none;
  color: plum;
}

.movieForm {
  margin-top: 2%;
}

.movieForm input {
  border: 2px solid turquoise;
  border-radius: 30px;
  height: 36px;
  width: 40%;
  text-align: center;
  outline: none;
}

.movieForm button {
  margin: 1.2% 0 0 0;
  background-color: #9088d4;
  color: #ebcfc4;
  border: 2px solid #556052;
  border-radius: 2px;
  padding: 10px 10px;
  font-family: monospace;
  letter-spacing: 3px;
  height: 40px;
  transition: all 0.18s;
}

.movieForm button:hover {
  color: white;
  /* border: 2px solid black ; */
  box-shadow: 0 0.5em 0.5em -0.4em darkslateblue;
  transform: translateY(-0.15em);
  cursor: pointer;
}

.movies {
  padding: 0;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movies li {
  list-style: none;
  font-size: 1.3em;
  /* border: 2px solid black ; */
  width: 30%;
  margin: 1% 0;
  justify-content: center;
}

.error {
  margin: 5% 0 0 0 ;
  font-size: 2.5em;
  color:#556052 ;
}
