<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static' , filename='style.css') }}" />

    <title>Movie Recommender</title>
</head>

<body>
    <h1>MOVIE RECOMMENDER</h1>
    <form action="\submit" method="POST">
        <input type="text" name="movie_name" placeholder="Movie Name" required />
        <input type="submit" name="submit" value="Get Recommendation">
    </form>

    <div class="error">{{error}}</div>

    <ul class="movies">
        {% for movie in movies %}
        <li>{{movie}}</li>
        {% endfor %}
    </ul>

</body>

</html>